<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>My Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

  <h1>Posts</h1>
  <table class="table">
    <thead>
      <tr>
        <td>Title</td>
        <td>Topic</td>
        <td>Date Posted</td>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
        <td>{{ post.topic.name }}</td>
        <td>{{ post.date_posted }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
